##################################
# Production server identifiers #

/app/identifiers.json
##################################

#############################################
# Does not include dependencies of composer #

/vendor/
#############################################

####################################
# Run local PHP server (for tests) #

autorun.bat
####################################